<!DOCTYPE html>
<html lang="en">
<head>
	<title>World Press Button</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="icon" href="static/img/logo.png">
	
	<meta name="description" content="click"/>
  	<meta name="keywords" content="click"/>
</head>

<body style="background: url(static/img/background.png);">
	<header>
		<h1>World Press Button</h1>
	</header>

  	<main>
		<button id="main_button" class="main_button"> Press Button </button>

		<p class="counter" style="margin-top: 45px;"> 3 578 640 219 </p>
		<p style="margin-top: 10px;"> Total Clicks </p>

		<div class="line" style="width: 200px;"></div>

		<input type="text" style="margin: 0 0px 20px;" value="" placeholder="→ Input nickname here ←">
		<p class="counter" style="font-size: 200%;">156 (21%) clicks</p>

		<div class="line"></div>
		
		<div class="info_block">
			<h1>Top 7 Clickers</h1>
			
			<p style="font-size: 100%; padding: 0;font-family: 'Secular One', sans-serif;">Biba (5 465 433 clicks) </p>
			<div class="line" style="width: 100%; height: 7px; margin: 0 0 5px; background: linear-gradient(-90deg, #3f51b5, #000000);"></div>

		</div>

		<div class="line"></div>
		
		<div class="info_block">
			<h1>Info</h1>
			This site was created by <a href="https://github.com/mihahanya/">Mihahanya</a> without any commercial purposes, purely for entertainment. By the way, the <a href="#">code of this site</a> is completely open. Here people can click on a button from any nickname and increase his score. That's it. Try...</div>
	</main>

	<footer> © 2022 by Mihahanya (Mihas Games) </footer>
</body>

</html>